@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Rashmika Manawadu</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.ico">
        <link rel="stylesheet" href="./styles/main.css">
<style>
  .container {
    display: flex;
  }

  .content {
    flex: 1;
    padding: 20px;
  }

  .advertisement {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
  }

  .iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio (height/width) */
  }

  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
</style>
    </head>
    <body>
<div class="container">
        <div id="container--main", class="main-content", class="content">
            <section id="wrapper--hero" class="section--page">
                <img id="profile-pic" src="./images/profile_pic.JPG">

                <div>
                    <h1 id="user-name">Randeer Lalanga</h1>
                    <p id="bio">LINUX, WINDOWS, CLOUD, DEVOPS & KUBERNETES ENGINEER</p>
                    <p id="bio">Working as a System Support Engineer at <a href="https://www.inbay.co.uk/ target="_blank">Inbay SL</a>.</p>
                    <p id="bio">A versatile Azure, Windows, and Linux DevOps Engineer, blending expertise in cloud infrastructure and CI/CD. Skilled in Docker/Kubernetes, Jenkins, and Azure DevOps to deliver scalable and reliable solutions. Adept at weaving together Windows/Linux systems and tools like Puppet, Ansible, and Terraform. A networking pro with a talent for configuring firewall rules, VPNs, and load balancing. Driven to continuously improve processes and deliver top-notch, secure solutions.</p>
                    <p id="email">👉 randeerlalanga92@gmail.com</p>
                    <p id="mobile">👉 +94773064421</p>
                </div>
            </section>

            <section class="section--page">

                <div id="socials--list">
                    <a href="https://www.facebook.com/randeer.lalanga/" target="_blank">Facebook</a>
                    <a href="https://twitter.com/rlalanga target="_blank">Twitter</a>
                    <a href="https://lk.linkedin.com/in/randeer-lalanga-882739b7" target="_blank">Linkedin</a>
                    <a href="https://github.com/randeer" target="_blank">Github</a>
                    <a href="./assets/resume.pdf" target="_blank">Download Resume</a>
                </div>
            </section>

            <section class="section--page">
                <h2>Skills & Qualifications</h2>
                <ul id="qualifications--list">
                    <li>✔️ Around 7 Years experience with Windows & Linux servers.</li>
                    <li>✔️ Extensive knowledge of Azure and other cloud solutions.</li>
                    <li>✔️ Work experience & knowledge in VMWare & Hyper-v Virtualization.</li>
                    <li>✔️ Extensive knowledge DevOps tools</li>
                </ul>
            </section>

            <section class="section--page">
                <h2>Tech stack</h2>

                <div id="wrapper--techstack__items">
                    <div class="card--techstack"><span>Azure</span></div>
                    <div class="card--techstack"><span>Windows Server: AD DS, HV, DNS, DHCP, Failover, AD CS, RDS, IIS</span></div>
                    <div class="card--techstack"><span>Docker, Kubernetes</span></div>
                    <div class="card--techstack"><span>Virtualization: VMWare, Hyper-V</span></div>
                    <div class="card--techstack"><span>Linux: Ubuntu, CentOS, RedHat</span></div>
                    <div class="card--techstack"><span>CI/CD: Jenkins, Azure DevOps</span></div>
                    <div class="card--techstack"><span>Puppet, Ansible</span></div>
                </div>
            </section>

            <section id="work-history-wrapper" class="section--page">
                <h2>Work History</h2>

                <div class="line-break"></div>

                <div class="card--work-history">
                    <strong>🚧 SYSTEMS ENGINEER | Inbay SL</strong>
                    <p>January 2023 - Present</p>
                    <p>Inbay is an MSP that supports most UK base customers.</p>
                    <ul>
                        <li>Successfully created and managed Microsoft Support tickets to resolve complex technical issues.</li>
                        <li>Proactively worked with vendor support teams from Dell, HP, and ShadowProtect to resolve hardware and software issues.</li>
                        <li>Efficiently responded to client service requests and ensured timely resolution of technical issues.</li>
                        <li>Collaborated with team members and successfully executed project tasks to ensure project goals were met on schedule.</li>
                        <li>Demonstrated technical expertise and commitment to delivering exceptional customer service.</li>
                    </ul>
                </div>


                <div class="card--work-history">
                    <strong>🚧 ASSOCIATE SYSTEMS ENGINEER | Inbay SL</strong>
                    <p>June 2020 - December 2022</p>
                    <p>Inbay is an MSP that supports most UK base customers.</p>
                    <ul>
                        <li>In-depth expertise in Windows Server (2008, 2008R2, 2011SBS, 2012, 2012R2, 2016, 2019, 2022) and Linux distributions (Ubuntu, Centos6, 7, 8, RedHat, Debian).</li>
                        <li>Proficiency in configuring and managing Windows server roles such as AD DS, DNS, DHCP, IIS, RDS, HV, Routing and Remote Access, Failover Cluster, and File and Storage.</li>
                        <li>Wide-ranging experience with cloud platforms including AWS, Azure, GCP, DigitalOcean, and Linode.</li>
                        <li>Knowledge of Windows and Linux patch management to ensure optimal system security and performance.</li>
                        <li>Familiarity with Out-of-Band Management solutions including iLO, iDrac, and imm.</li>
                        <li>Hands-on experience with a variety of backup and restoration solutions such as ShadowProtect, StorageCraft ImageManager, Windows Backup, Azure Backup, Veeam Backup & Replication, Acronis, and CloudBerry.</li>
                        <li>Understanding of SaaS solutions including O365, Google Workspace, Zoho, and Datto Workspace.</li>
                        <li>Knowledge of cloud-based VDI solutions such as Amazon WorkSpaces and Azure Virtual Desktops.</li>
                        <li>Exposure to virtualization products including Hyper-V, VMware, Linux KVM, Red Hat Virtualization (RHV-KVM), and Proxmox.</li>
                        <li>Technical proficiency in SQL Server, including experience with SP/GDR/CU updates.</li>
                    </ul>
                </div>

                <div class="line-break"></div>

                <div class="card--work-history">
                    <strong>🚧 NETWORK OPERATIONS CENTER ANALYST | Inbay SL</strong>
                    <p>June 2017 - June 2020</p>
                    <ul>
                        <li>Expertise in managing, maintaining, and troubleshooting Windows servers, workstations, and network devices.</li>
                        <li>Skilled in analyzing system logs and providing effective technical solutions (Level 1 and Level 2 support).</li>
                        <li>Utilization of RMM platforms to proactively identify, manage, and maintain client-side servers and network devices.</li>
                        <li>Dedication to delivering exceptional technical support and ensuring optimal system performance.</li>
                        <li>Work experiences in ticketing tools: Autotask PSA, Connectwise Manage, and more </li>
                    </ul>
                </div>

                <div class="line-break"></div>


            </section>

            <section class="section--page">
                <h2>Projects & Accomplishments</h2>

                <div class="card--project">
                    <p><span>🏆 </span>Deployed a scalable RDS server farm for improved user access and resource utilization.</p>
                </div>

                <div class="card--project">
                    <p><span>🏆 </span>Designed and deployed a secure RDS VDI host environment utilizing Azure Application Proxy.</p>
                </div>

                <div class="card--project">
                    <p><span>🏆 </span>Successfully implemented ADsync to seamlessly synchronize on-premises Active Directory with Azure AD.</p>
                </div>

                <div class="card--project">
                    <p><span>🏆 </span>Completed a smooth mailbox migration from existing infrastructure to Bittitan, ensuring no data loss.</p>
                </div>

                <div class="card--project">
                    <p><span>🏆 </span>Migrated a client's GoDaddy WordPress website to a high-performance Linode hosting environment.</p>
                </div>

                <div class="card--project">
                    <p><span>🏆 </span>Utilized Azure Site Recovery (ASR) to migrate on-premise servers to the Azure cloud, improving uptime and reducing costs.</p>
                </div>

                <div class="card--project">
                    <p><span>🏆 </span>Established a secure and monitored cloud environment in Azure by implementing pfSense, Grafana, and Azure Security Center.</p>
                </div>

                <div class="card--project">
                    <p><span>🏆 </span>Migrating from CentOS 8 to AlmaLinux 8.</p>
                </div>

                <div class="card--project">
                    <p><span>🏆 </span>Developed CI/CD pipeline with GitHub actions, ACI, and Ubuntu server.</p>
                </div>


            </section>

            <section id="work-history-wrapper" class="section--page">
                <h2>Certificates</h2>

                <div class="line-break"></div>
                <div class="card--work-history">
                    <strong>PROFESSIONAL CERTIFICATES</strong>

                    <ul>
                        <li>CKA: Certified Kubernetes Administrator.</li>
                        <li>Microsoft Certified: Azure Security.</li>
                        <li>Microsoft Certified: Azure Architect.</li>
                        <li>Microsoft Certified: Azure Administrator Associate.</li>
                        <li>Red Hat Certified System Administrator.</li>
                        <li>Datto Technical Specialists I and II.</li>
                        <li>Fortinet Network Security Associate (NSE).</li>
                    </ul>
                </div>

                <div class="line-break"></div>
            </section>


            <section class="section--page">
                <div class="card--project">
                    <footer> <small>&copy; Copyright 2023, Randeer Lalanga - randeerlalanga92@gmail.com - +94773064421</small> </footer>
                </div>
            </section>


        </div>

        <call-us-selector phonesystem-url="https://1208.3cx.cloud" party="randil"></call-us-selector>
        <script defer="defer" src="https://downloads-global.3cx.com/downloads/livechatandtalk/v1/callus.js"></script>

  <div class="advertisement">
    <div class="iframe-container">
      <iframe src="https://www.scorebat.com/embed/livescore/" frameborder="0" allowfullscreen allow='autoplay; fullscreen' class="_scorebatEmbeddedPlayer_"></iframe>
      <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://www.scorebat.com/embed/embed.js?v=arrv'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'scorebat-jssdk'));</script>
    </div>
  </div>

</div>


    </body>
</html>
</div>
